@model List<LiteCommerce.DomainModels.Attributes>
@{
    ViewBag.Title = "Edit Attribute";
    int i = 0;
}
<div class="box box-success">
    <div class="box-body">
        <!-- Modal Header -->
        <table class="table table-bordered" \>
            <thead>
                <tr> 
                    <th width="50">#</th>
                    <th>Attribute Name</th>
                    <th> Color</th>
                    <th> Size    </th>
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attr in Model)
                {
                   
                        <tr>
                            <td>@(++i)</td>
                            <form role="form" action="~/Attribute/Update" method="post">
                                <td><div style="width: 20px"><input value="@attr.AttributeName" name="AttributeName" /></div></td>
                                <td><input value="@attr.Color"  name="Color"/></td>
                                <td><input value="@attr.Size"  name="Size"/></td>
                                <input type="hidden" name="AttributeID" value="@attr.AttributeID"/>
                                <input type="hidden" name="ProductID" value="@attr.ProductID" />
                                <td class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <a class="btn btn-sm btn-danger" href="~/Attribute/Delete/@attr.AttributeID">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </form>
                        </tr>
                }
                </tbody>
                </table>
            </div>
    </div>

        <div class="box-footer" style="margin-top: -20px;">
            <a class="btn btn-sm btn-default" href="~/Product">
                Cancel
            </a>
        </div>

