@model LiteCommerce.DomainModels.Employee
@{
}
<div class="box box-primary">
    <form role="form" action="~/Employee/Input" method="post">
        <div class="box-header text-right">
            <a href="~/Employee">Back to List</a>
        </div>
        <div class="box-body">  
            <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />
                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="pull-left image">
                            <img src="~/Themes/AdminLTE/dist/img/@Model.PhotoPath" height="100px" width="100px" class="img-circle" alt="User Image">
                        </div>
                        <div >
                            <label style="margin-left: 10px;" for="exampleInputFile">Image input</label>
                            <label style="margin-left: 10px; color:#555; "> <input type="file" id="exampleInputFile" name="PhotoPath" value="">@Model.PhotoPath</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>FirstName: @Html.ValidationMessage("FirstName", new { @style = "color: red" })</label>
                        <input type="text" class="form-control" placeholder="FirstName" name="FirstName" value="@Model.FirstName">
                    </div>
                    <div class="col-sm-4">
                        <label>LastName: @Html.ValidationMessage("LastName", new { @style = "color: red" })</label>
                        <input type="text" class="form-control" placeholder="LastName" name="LastName" value="@Model.LastName">
                    </div>
                    <div class="col-sm-4">
                        <label>Title:@Html.ValidationMessage("Title", new { @style = "color: red" })</label>
                        <input type="text" class="form-control" placeholder="Ex: New Orleans" name="Title" value="@Model.Title">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>BirthDate:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" name="BirthDate" value="@Model.BirthDate" data-mask>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>HireDate:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" name="HireDate" value="@Model.HireDate" data-mask>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input type="text" class="form-control" placeholder="Address" name="Address" value="@Model.Address">
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Country:</label>
                        <select class="form-control">
                            <option value="">-- Choose Country --</option>
                            @foreach (var country in SelectListHelper.Countries())
                            {
                                if (Model.Country == country.Value)
                                {
                                    <option value="@country.Value" selected>@country.Text</option>
                                }
                                else
                                {
                                    <option value="@country.Value">@country.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>City:</label>
                        <input type="text" class="form-control" placeholder="Ex: New Orleans" name="City" value="@Model.City">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>HomePhone:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" class="form-control" name="HomePhone" value="@Model.HomePhone">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Email:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-fax"></i>
                            </div>
                            <input type="text" class="form-control" name="Email" value="@Model.Email">
                        </div>
                    </div>
                            <input type="hidden" class="form-control" name="Password" value="@Model.Password">
                 </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label>Note:</label>
                        <textarea class="form-control" rows="4" name="Notes">@Model.Notes</textarea>
                     </div>
                </div>
            </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Employee">
                Cancel
            </a>
        </div>
    </form>
</div>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>

