@model LiteCommerce.Admin.Models.SupplierPaginationResult
@{
    ViewBag.Title = "Manage Suppliers";
    int i = (Model.Page - 1) * Model.PageSize;
}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Supplier" method="get">
            <div class="input-group input-group-sm">
                <input name="searchValue" type="text" class="form-control" placeholder="Input search value..." value="@Model.SearchValue">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<form action="~/Supplier/Delete" method="post">
    <div class="container-fluid row" style="margin-bottom:10px;">
        @if (Model.PageCount != 0)
        {
            <div class="col-sm-8">
                There are <b>@Model.RowCount</b> Suppliers. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
            </div>
        }
        else
        {
            <div class="col-sm-8">
                There are <b>@Model.RowCount</b> Suppliers. Page 0/0.
            </div>
        }
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Supplier/Input" class="btn btn-sm btn-primary">Add Supplier</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Suppliers</button>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input id="selectAll" type="checkbox" />
                        </th>
                        <th style="width:50px">#</th>
                        <th style="width:auto">Name</th>
                        <th style="width:200px">Address</th>
                        <th style="width:200px">Contact Info</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supplier in Model.Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="supplierIDs" value="@supplier.SupplierID" />
                            </td>
                            <td>@(++i)</td>
                            <td>
                                <p style="color:#0094ff; font-weight:bold; display:block">
                                    @supplier.CompanyName
                                </p>
                                <p style="color:#646464">
                                    @supplier.ContactTitle
                                </p>
                                <p style="color:#646464;font-weight:bold">
                                    @supplier.ContactName
                                </p>
                            </td>
                            <td>
                                <p style="display:block">@supplier.Address</p>
                                <p>@supplier.Country</p>
                            </td>
                            <td>
                                <p style="display:block"><i class="fa fa-phone"></i> @supplier.Phone</p>
                                <p style="display:block"><i class="fa fa-fax"></i> @supplier.Fax</p>
                                <p style="display:block"><i class="fa fa-home"></i> @supplier.HomePage</p>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Supplier/Input/@supplier.SupplierID/">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix text-center">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="~/Supplier?page=1&searchValue=@Model.SearchValue">«</a></li>
                @if (Model.Page > 3 && Model.Page < Model.PageCount - 3)
            {
                if (Model.Page - 3 > 1)
                {
                        <li><a>...</a></li>
                    }
                    for (int page = Model.Page - 3; page <= Model.Page + 3; page++)
                    {
                        if (page == Model.Page)
                        {
                            <li class="active"><a href="#">@page</a></li>
                        }
                        else
                        {
                            <li><a href="~/Supplier?page=@page&searchValue=@Model.SearchValue">@page</a></li>
                        }
                    }
                    if (Model.Page + 3 < Model.PageCount)
                    {
                        <li><a>...</a></li>
                    }
                }
                else if (Model.Page <= 3)
                {
                    var testpage = Model.PageCount;
                    if (Model.PageCount > 4)
                    {
                        testpage = Model.Page + 2;
                    }
                    for (int page = 1; page <= testpage; page++)
                    {
                        if (page == Model.Page)
                        {
                            <li class="active"><a href="#">@page</a></li>
                        }
                        else
                        {
                            <li><a href="~/Supplier?page=@page&searchValue=@Model.SearchValue">@page</a></li>
                        }
                    }
                    if (Model.Page <= Model.PageCount - 3)
                    {
                        <li><a>...</a></li>
                    }
                }
                else
                {
                    if (Model.PageCount - 3 > 0)
                    {
                        <li><a>...</a></li>
                    }
                    for (int page = Model.Page - 2; page <= Model.PageCount; page++)
                    {
                        if (page == Model.Page)
                        {
                            <li class="active"><a href="#">@page</a></li>
                        }
                        else
                        {
                            <li><a href="~/Supplier?page=@page&searchValue=@Model.SearchValue">@page</a></li>
                        }
                    }
                }
                <li><a href="~/Supplier?page=@Model.PageCount&searchValue=@Model.SearchValue">»</a></li>
            </ul>
        </div>
    </div>
</form>